
<% if @poem.user_id == current_user.id %>

  <%= form_for(@poem, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @poem.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> stopped this poem from going forward:</h2>
        <ul>
         <% @poem.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
       </div>
    <% end %>

    <p class="lead"><%= @poem.title %></p>

    <% @poem_round = Round.find(@poem.round_id) %> 
    <% n=@poem.round.line_count %>
    <% @lines = [*1..n] %>
    
    <% @lines.each do |line| %>
      <% linenum = "line#{line}" %>
      <% syl_count = "#{linenum}_syllable_count" %>
      <% syl_count_label = @poem.send(syl_count) %>
      <div class="form-group">
        <%= f.label :"#{linenum}", "Line #{line} should have #{syl_count_label} syllables", class: "col-sm-3 control-label" %>
        <div class="col-sm-7">
          <%= f.text_field :"#{linenum}", class: "form-control" %>
        </div>
      </div>
    <% end %>
    
    <div class="form-group" style="border-top: 1px solid; border-bottom: 1px solid; padding-top: 10px">
      <div class="col-sm-3">
        <p class="lead">Who can see your poem?</p>
      </div>
      <div class="radio">
        <div class="col-sm-1">
          <%=f.radio_button :status, "creator_only" %>Only You
        </div> 
        <div class="col-sm-2">
          <%=f.radio_button :status, "round_participants" %>The Poets In The Round
        </div>
        <div class="col-sm-2">
          <%=f.radio_button :status, "open_to_all" %>Everyone
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= f.check_box :submitted %><p>Check ONLY IF Poem Is Done: WARNING! NO EDITS IF YOU SUBMIT WITH THIS BOX CHECKED!!!</p>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>

  <% end %>

<% else %>

  <h2>Sorry, this isn't your poem to write</h2>

  <div class="container">
    <%= link_to "Home", player_path(current_user.id) %>
  </div>

<% end %>




