<p><%=@poem.line1_syllable_count%>:   <%=@poem.line1%></p>
<p><%=@poem.line2_syllable_count%>:   <%=@poem.line2%></p>
<p><%=@poem.line3_syllable_count%>:   <%=@poem.line3%></p>
<p><%=@poem.line4_syllable_count%>:   <%=@poem.line4%></p>
<p><%=@poem.line5_syllable_count%>:   <%=@poem.line5%></p>
<p><%=@poem.line6_syllable_count%>:   <%=@poem.line6%></p>
<p><%=@poem.line7_syllable_count%>:   <%=@poem.line7%></p>
<p><%=@poem.line8_syllable_count%>:   <%=@poem.line8%></p>
<p><%=@poem.line9_syllable_count%>:   <%=@poem.line9%></p>
<p><%=@poem.line10_syllable_count%>:   <%=@poem.line10%></p>