<%= @poem.title %><br>
by<br>
<%= User.find(@poem.user_id).username %><br><br>

<% if @poem.user_id == current_user.id %>
	<%= render 'poem_text' %><br>
	<% if !@poem.submitted? %>
		<p><em>poem not yet submitted</em></p>
		<p><%= link_to "Edit", edit_poem_path(@poem) %></p>
	<% else %>
		<p><em>poem has been submitted</em></p>
		<p><%= link_to "Change who can see your poem", edit_poem_path(@poem) %><p>
	<% end %>
<% elsif @poem.creator_only? %>
	<p>Sorry, this poem isn't ready for the public</p>
<% elsif @poem.round_participants? %>
	<% if current_user.in_round?(Round.find(@poem.round_id)) %>
		You can read this because you are in the round<br>
		<%= render 'poem_text' %><br>
	<% else %>
		you can't read this because you aren't in the round<br>
	<% end %>
<% elsif @poem.open_to_all? %>
    <%= render 'poem_text' %>
<% end %>

<%= link_to "Home", "/player" %>
