
<%= form_for(@round, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> stopped this round from going forward:</h2>
      <ul>
        <% @round.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Make a title for the poems of this round...</h1>
  <div class="form-group">
    <%= f.text_field :title, :class => "form-control" %><br>
  </div>
  <p class="lead">How Many Lines of Poetry Shall The Poems Have?</p>
  <div class="form-group">
    <div class="radio">
      <% @nums = [*1..10] %>
      <% @nums.each do |num| %>
        <div class="col-sm-1">
          <%= f.radio_button :line_count, "#{num}" %><%= num %>
        </div>  
      <% end %>
      
    </div> <!-- radio -->
  </div> <!-- form-group-->
  
  <% if @round.line_count == nil %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
        <%= f.submit "Generate Lines", class: "btn btn-default" %>
      </div>
    </div>

  <% else %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
        <%= f.submit "Update Lines", class: "btn btn-default" %>
      </div>
    </div>
    
    <p class="lead">The Number of Syllables In The Lines Shall Be...</p>
    <% n = @round.line_count %>
    <% @lines = [*1..n] %>
    <% @lines.each do |line| %>
    <% syl_count = "line#{line}_syllable_count" %>
    <% line_label = "Line #{line}: " %>
    <div class="form-group">
      <%= f.label :"#{syl_count}", "#{line_label}", class: "col-sm-2 control-label" %>
        <div class="col-sm-1">
          <%= f.number_field :"#{syl_count}", :in => 0..10, class: "form-control" %>
        </div>
    </div>

    <% end %>
   
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div> <!-- form-group-->

  <% end %>
  
<% end %>
