<%= bootstrap_form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> stopped this round from going forward:</h2>
      <ul>
	      <% @round.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	  </ul>
	</div>
  <% end %>
  <div class="field">
   <%= f.collection_check_boxes :poem_user_ids, User.possible_players, :id, :username %><br>
  </div>
  <div class="field">
   <%= f.label :title %><br>
   <%= f.text_field :title %><br>
   <%= f.label :line_count %><br>
   <%= f.number_field :line_count %><br>
  </div>
  <%= f.hidden_field :creator_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
