<h1><%= @round.title %></h1>

<% if @round.creator_id == current_user.id %>
 <%= form_for(@round) do |f| %>
 	<div class="field">
	<%= f.label :poem_user_ids, "Poets on the joint" %>
	<%= f.collection_check_boxes(:poem_user_ids, current_user.other_available_players, :id, :username, checked: @round.users.map(&:id)) %>
	<%= f.hidden_field(:active, :value => true) %>
   </div>

   <div class="actions">
   	<%= f.submit "Get it Going" %>
   </div>
 <% end %>

or<br>

<%= link_to "Not yet, go home", player_path(current_user.id) %>

<% else %>

<%= link_to "Home", player_path(current_user.id) %>

<% end %>
