<p>Hello, <%=@player.username%>.</p>
<hr>
<p>You are currently participating in <%= @player.current_rounds %> rounds and your maximum is set to <%= @player.max_rounds %> round(s). </p>
<ul>
  <li><%= link_to "Create A New Round", new_round_path %></li>
  <li><%= link_to "View Current/Past Rounds", rounds_path%></li>
  <li><%= link_to "View Poems", poems_path %></li>
</ul>
<br>
<br>

<% if @player.eligible? %>
You can write some verses.
<% else %>
Your maximum number of poems has been reached!
<%end%><br>

<% User.possible_players.each do |player| %>
  <% if User.possible_players.empty? %>
    There are no eligible players at this time.
  <% else %>
  	<% if player.username != @player.username %>
    	<%= player.username %><br>
    <% end %>
  <% end %>
<% end %>


<p><%= link_to "Edit Info", edit_user_registration_path %></p>