<p>Hello, <%=@player.username%>.</p>
<hr>
<p>You are currently participating in <%= @player.current_rounds.count %> rounds and your maximum is set to <%= @player.max_rounds %> round(s). </p>
<ul>
<% @player.current_rounds.each do |round| %>
  <li>Title: <%= round.title %></li>
  <li>Made By: <%= User.find(round.creator_id).username %></li>
  <br>
<% end %>
</ul>
<ul>

  <li><%= form_tag("/players/#{@player.id}", method: "patch") do %>
  <%= label_tag(:player, "Maximum Rounds") %>
  <%= number_field(:player, :max_rounds) %>
  <%= submit_tag("Update") %>
  <% end %>
    </li>
  <li><%= form_tag("/players/#{@player.id}", method: "patch") do %>
  <%= label_tag(:player, "I am available to play") %>
  <%= check_box(:player, :available) %>
  <%= submit_tag("Update") %>
  <% end %>
    </li>


  <li><%= link_to "Create A New Round", new_round_path %></li>
  <li><%= link_to "View Current/Past Rounds", rounds_path%></li>
  <li><%= link_to "test player rounds", player_rounds_path(@player.id) %></li>
  <li><%= link_to "View Poems", poems_path %></li>
</ul>
<br>
<br>

<% if @player.eligible? %>
You can write some verses.
<% else %>
You not in the poetry game right now, yo.
<%end%><br>
<h3>These poets are ready to spit fire</h3>
<ul>
<% if current_user.other_available_players.empty? %>
  <li>Ain't Nobody Around</li>
<% else %>
<% current_user.other_available_players.each do |player| %>
    <li><%= player.username %><br></li>
<% end %>
<% end %>
</ul>

