

<div class="jumbotron">
    <div class="containter">
      <h3>Hello, <%=@player.username%>.</h3>
      <p class="lead">
        You are currently in <%= @player.current_rounds.count %> rounds and your maximum is set to <%= current_user.max_rounds %> round(s).
      </p>
      <div class="lead">
      <% if @player.eligible? %>
        <p>You can write some verses.</p>
      <% else %>
        <p>You not in the poetry game right now, yo.</p>
      <%end%>
    </div>
    </div>
</div>




<div class="container" style="border-top: 1px solid; border-bottom: 1px solid; margin-bottom: 10px; padding-bottom: 12px">
  <%= form_tag("/players/#{@player.id}", method: "patch") do %>
    <div class="form-group">
      <div class="col-xs-1">
        <%= number_field(:player, :max_rounds, :class => "form-control") %>
      </div>
      <div class="col-xs-4">
        <%= label_tag(:player, "The maximum number of your active rounds", :class => "control-label") %>
      </div>
    </div> <!-- form-group-->
    <div class="form-group">
      <div class="col-xs-1">
        <%= select(:player, :available, options_for_select( [['Yes!', true], ['No!', false]], :selected => @player.available), {}, :class => "form-control") %>
      </div>
      <div class="col-xs-4">
        <%= label_tag(:player, "Can others add you as a poet to their rounds?", :class => "control-label") %>
      </div>
    </div> <!-- form-group-->
      <div class="col-xs-2">
        <%= submit_tag("Update", :class => "btn btn-default btn-submit btn-md") %>
      </div>

  <% end %>
</div>

<div class="container">
  <p><%= link_to "Create A New Round", new_round_path %></p>
  <p><%= link_to "Your Rounds of Poetry", player_rounds_path(@player.id) %></p>
  <p><%= link_to "Your Poems", player_poems_path(@player.id) %></p>
  <br>
  <br>
</div>
