<!DOCTYPE html>
<html>
<head>
  <title>PoetryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10">
          
          <%= render 'layouts/messages' %>
      
          <%= yield %>

          <%= render 'layouts/footer' %>
          </div>
        </div> <!--row-->
      </div> <!--container-fluid-->
    </div> <!--main-wrapper-->
  </body>
</html>
