<!DOCTYPE html>
<html>
<head>
  <title>PoetryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      # try in percentages flash.each do |name, msg| close percentage
      # percentage equal content_tag(:div, msg, class: "alert alert-info") close percentage
      # percentage end close percentage
    <%= yield %>
    </div>
  </body>
</html>
